# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - testdockermayank

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: testdockermayank.azurecr.io/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_15695682E196431A865E200FAF1565D7 }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_53FCE3AFE29E4393AC27BD853341E30A }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: testdockermayank.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_15695682E196431A865E200FAF1565D7 }}/testdockermayank:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    needs: build
    
    steps:
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_B170355D75C14686837E73A9EE95A44E }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_7E5E1CC2C20C4E4A9A90A440835DF58C }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_B04F94CA52C5422EB6DB3087B573793B }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'testdockermayank'
          slot-name: 'Production'
          images: 'testdockermayank.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_15695682E196431A865E200FAF1565D7 }}/testdockermayank:${{ github.sha }}'
          